<div class="alert alert-danger alert-dismissible" role="alert" ng-if="error">Login failed! {{ error.message }}</div>

<link rel="stylesheet" href="../lib/agency.min.css"/>
<link rel="stylesheet" href="../lib/font-awesome.min.css"/>
<link href="../lib/bootstrap/css/navbar-fixed-top.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Stagee</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#!/bachecaView"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active"><a href="#!/profiloView"><span class="glyphicon glyphicon-user"></span></a>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" onclick="event.preventDefault();" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"> <span
                            class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#" onclick="event.preventDefault();" data-target="#myModal" data-toggle="modal" >Filtri</a>
                        </li>
                        <li><a href="#">Logout</a></li>

                    </ul>
                </li>
                <li><a href="#!/chat" onclick="event.preventDefault();"><span
                        class="glyphicon glyphicon-comment"></span></a></li>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>



<meta name="viewport" content="width=device-width, initial-scale=1">

<form id="frmProfilo" role="form" ng-submit="signIn()">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filtri</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body" id="pagina_filtri">
                    <div class="containerfiltri">
                        <div class="row">
                            <div class="col-sm-4"
                                 style="border-right: 1px; border-right-style: solid; border-right-color: silver">
                                <ul class="filtri">
                                    <li id="areageografica"><a href="#" onclick="event.preventDefault();"
                                                               ng-click="redirectToAreageografica()">Area geografica</a>
                                    </li>
                                    <li id="ambito"><a href="#" onclick="event.preventDefault();"
                                                       ng-click="redirectToAmbito()">Ambito</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-8">

                                <div id="filtri_areageografica" role="form" ng-if="isAreaGeografica();">
                                    <select id="regione" name="regione">
                                        <option value="" selected>Seleziona</option>
                                        <option value='abruzzo'>Abruzzo</option>
                                        <option value='basilicata'>Basilicata</option>
                                        <option value='calabria'>Calabria</option>
                                        <option value='campania'>Campania</option>
                                        <option value='emilia romagna'>Emilia Romagna</option>
                                        <option value='friuli venezia giulia'>Friuli-Venezia Giulia</option>
                                        <option value='lazio'>Lazio</option>
                                        <option value='liguria'>Liguria</option>
                                        <option value='lombardia'>Lombardia</option>
                                        <option value='marche'>Marche</option>
                                        <option value='molise'>Molise</option>
                                        <option value='piemonte'>Piemonte</option>
                                        <option value='puglia'>Puglia</option>
                                        <option value='sardegna'>Sardegna</option>
                                        <option value='sicilia'>Sicilia</option>
                                        <option value='toscana'>Toscana</option>
                                        <option value='trentino alto adige'>Trentino Alto Adige</option>
                                        <option value='umbria'>Umbria</option>
                                        <option value='valle d aosta'>Valle D'Aosta</option>
                                        <option value='veneto'>Veneto</option>
                                    </select>
                                    <select id="provincia" name="provincia">
                                        <option value="" selected>Seleziona</option>
                                        <option value="AG">Agrigento</option>
                                        <option value="AL">Alessandria</option>
                                        <option value="AN">Ancona</option>
                                        <option value="AO">Aosta</option>
                                        <option value="AR">Arezzo</option>
                                        <option value="AP">Ascoli Piceno</option>
                                        <option value="AT">Asti</option>
                                        <option value="AV">Avellino</option>
                                        <option value="BA">Bari</option>
                                        <option value="BL">Belluno</option>
                                        <option value="BN">Benevento</option>
                                        <option value="BG">Bergamo</option>
                                        <option value="BI">Biella</option>
                                        <option value="BO">Bologna</option>
                                        <option value="BZ">Bolzano</option>
                                        <option value="BS">Brescia</option>
                                        <option value="BR">Brindisi</option>
                                        <option value="CA">Cagliari</option>
                                        <option value="CL">Caltanissetta</option>
                                        <option value="CB">Campobasso</option>
                                        <option value="CE">Caserta</option>
                                        <option value="CT">Catania</option>
                                        <option value="CZ">Catanzaro</option>
                                        <option value="CH">Chieti</option>
                                        <option value="CO">Como</option>
                                        <option value="CS">Cosenza</option>
                                        <option value="CR">Cremona</option>
                                        <option value="KR">Crotone</option>
                                        <option value="CN">Cuneo</option>
                                        <option value="EN">Enna</option>
                                        <option value="FE">Ferrara</option>
                                        <option value="FI">Firenze</option>
                                        <option value="FG">Foggia</option>
                                        <option value="FO">Forl&igrave; - Cesena</option>
                                        <option value="FR">Frosinone</option>
                                        <option value="GE">Genova</option>
                                        <option value="GO">Gorizia</option>
                                        <option value="GR">Grosseto</option>
                                        <option value="IM">Imperia</option>
                                        <option value="IS">Isernia</option>
                                        <option value="SP">La Spezia</option>
                                        <option value="AQ">L'Aquila</option>
                                        <option value="LT">Latina</option>
                                        <option value="LE">Lecce</option>
                                        <option value="LC">Lecco</option>
                                        <option value="LI">Livorno</option>
                                        <option value="LO">Lodi</option>
                                        <option value="LU">Lucca</option>
                                        <option value="MC">Macerata</option>
                                        <option value="MN">Mantova</option>
                                        <option value="MS">Massa Carrara</option>
                                        <option value="MT">Matera</option>
                                        <option value="ME">Messina</option>
                                        <option value="MI">Milano</option>
                                        <option value="MO">Modena</option>
                                        <option value="NA">Napoli</option>
                                        <option value="NO">Novara</option>
                                        <option value="NU">Nuoro</option>
                                        <option value="OR">Oristano</option>
                                        <option value="PD">Padova</option>
                                        <option value="PA">Palermo</option>
                                        <option value="PR">Parma</option>
                                        <option value="PV">Pavia</option>
                                        <option value="PG">Perugia</option>
                                        <option value="PS">Pesaro</option>
                                        <option value="PE">Pescara</option>
                                        <option value="PC">Piacenza</option>
                                        <option value="PI">Pisa</option>
                                        <option value="PT">Pistoia</option>
                                        <option value="PN">Pordenone</option>
                                        <option value="PZ">Potenza</option>
                                        <option value="PO">Prato</option>
                                        <option value="RG">Ragusa</option>
                                        <option value="RA">Ravenna</option>
                                        <option value="RC">Reggio Calabria</option>
                                        <option value="RE">Reggio Emilia</option>
                                        <option value="RI">Rieti</option>
                                        <option value="RN">Rimini</option>
                                        <option value="RM">Roma</option>
                                        <option value="RO">Rovigo</option>
                                        <option value="SA">Salerno</option>
                                        <option value="SS">Sassari</option>
                                        <option value="SV">Savona</option>
                                        <option value="SI">Siena</option>
                                        <option value="SR">Siracusa</option>
                                        <option value="SO">Sondrio</option>
                                        <option value="TA">Taranto</option>
                                        <option value="TE">Teramo</option>
                                        <option value="TR">Terni</option>
                                        <option value="TO">Torino</option>
                                        <option value="TP">Trapani</option>
                                        <option value="TN">Trento</option>
                                        <option value="TV">Treviso</option>
                                        <option value="TS">Trieste</option>
                                        <option value="UD">Udine</option>
                                        <option value="VA">Varese</option>
                                        <option value="VE">Venezia</option>
                                        <option value="VB">Verbania-Cusio-Ossola</option>
                                        <option value="VC">Vercelli</option>
                                        <option value="VR">Verona</option>
                                        <option value="VV">Vibo Valentia</option>
                                        <option value="VI">Vicenza</option>
                                        <option value="VT">Viterbo</option>
                                    </select>
                                </div>
                                <div id="filtri_ambito" role="form" ng-if="isAmbito();">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Recitazione
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Canto
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Danza
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Trasformismo
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">illusionismo
                                    </label>


                                    <p></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <!-- qui c era secondary anzichè primary-->
                </div>
            </div>
        </div>
    </div>
</form>


    <div class="row profile">
        <div class="col-md-1"> </div>
        <div class="col-md-4">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img class="media-object" ng-src="images_stagee/Artboard1.jpg" alt="Immagine profilo di {{datiProfilo.nome}}" ng-if="!(datiProfilo.imgPath.includes('https://firebasestorage.googleapis.com')) && datiProfilo.imgPath!='' && datiProfilo.imgPath!==null">
                    <img class="media-object" ng-src="{{datiProfilo.imgPath}}" alt="Immagine profilo di {{datiProfilo.nome}}" ng-if="datiProfilo.imgPath.includes('https://firebasestorage.googleapis.com')">
                    <img class="media-object" ng-src="images_stagee/Artboard1.jpg" alt="Immagine profilo di {{datiProfilo.nome}}" ng-if="datiProfilo.imgPath == '' || datiProfilo.imgPath==null">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{datiProfilo.nome}} {{datiProfilo.cognome}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{datiProfilo.tipo}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-warning btn-sm">Follow</button>
                    <button type="button" class="btn btn-info btn-sm" ng-click="redirectToCv();">Visualizza CV</button>

                </div>
                <!-- END SIDEBAR BUTTONS -->

                <blockquote class="quote-card yellow card">
                    <p>
                        <a href="#" editable-text="citazione.valore" >{{ citazione.valore || 'La tua citazione' }}</a>
                    </p>

                    <cite>
                        <a href="#" editable-text="citazione.autore" >{{ citazione.autore || 'Autore' }}</a>
                    </cite>
                </blockquote>



            </div>
        </div>

        <div class="col-md-4">




            <div class="datepicker hasDatepicker" id="dp1497624745244">
                <div class="datepicker-header"></div>
                <div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"
                     style="display: block;">
                    <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
                        <a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click"
                           title="<i class=&quot;fa fa-fw fa-angle-left&quot;></i>">
                            <span class="ui-icon ui-icon-circle-triangle-w">
                                <i class="fa fa-fw fa-angle-left"></i>
                            </span>
                        </a>
                        <a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click"
                           title="<i class=&quot;fa fa-fw fa-angle-right&quot;></i>">
                            <span class="ui-icon ui-icon-circle-triangle-e"><i
                                    class="fa fa-fw fa-angle-right"></i></span></a>
                        <div class="ui-datepicker-title"><span class="ui-datepicker-month">June</span>&nbsp;<span
                                class="ui-datepicker-year">2017</span></div>
                    </div>
                    <table class="ui-datepicker-calendar">
                        <thead>
                        <tr>
                            <th scope="col" class="ui-datepicker-week-end"><span title="Sunday">Su</span></th>
                            <th scope="col"><span title="Monday">Mo</span></th>
                            <th scope="col"><span title="Tuesday">Tu</span></th>
                            <th scope="col"><span title="Wednesday">We</span></th>
                            <th scope="col"><span title="Thursday">Th</span></th>
                            <th scope="col"><span title="Friday">Fr</span></th>
                            <th scope="col" class="ui-datepicker-week-end"><span title="Saturday">Sa</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
                                &nbsp;
                            </td>
                            <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;
                            </td>
                            <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;
                            </td>
                            <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;
                            </td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">1</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">2</a></td>
                            <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click"
                                data-month="5" data-year="2017"><a class="ui-state-default" href="#">3</a></td>
                        </tr>
                        <tr>
                            <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click"
                                data-month="5" data-year="2017"><a class="ui-state-default" href="#">4</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">5</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">6</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">7</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">8</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">9</a></td>
                            <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click"
                                data-month="5" data-year="2017"><a class="ui-state-default" href="#">10</a></td>
                        </tr>
                        <tr>
                            <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click"
                                data-month="5" data-year="2017"><a class="ui-state-default" href="#">11</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">12</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">13</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">14</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">15</a></td>
                            <td class=" ui-datepicker-days-cell-over  ui-datepicker-current-day ui-datepicker-today"
                                data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default ui-state-highlight ui-state-active ui-state-hover" href="#">16</a>
                            </td>
                            <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click"
                                data-month="5" data-year="2017"><a class="ui-state-default" href="#">17</a></td>
                        </tr>
                        <tr>
                            <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click"
                                data-month="5" data-year="2017"><a class="ui-state-default" href="#">18</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">19</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">20</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">21</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">22</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">23</a></td>
                            <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click"
                                data-month="5" data-year="2017"><a class="ui-state-default" href="#">24</a></td>
                        </tr>
                        <tr>
                            <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click"
                                data-month="5" data-year="2017"><a class="ui-state-default" href="#">25</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">26</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">27</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">28</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">29</a></td>
                            <td class=" " data-handler="selectDay" data-event="click" data-month="5" data-year="2017"><a
                                    class="ui-state-default" href="#">30</a></td>
                            <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<br>
<br>



<section_cal id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Timeline</h2>
                <h3 class="section-subheading text-muted">La tua storia.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img src="images_stagee/download.jpg" class=" img-circle img-responsive" alt="" >
                            <!--<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">-->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images_stagee/download.jpg" >
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images_stagee/download.jpg">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2012</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images_stagee/download.jpg" >
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section_cal>