<div class="alert alert-danger alert-dismissible" role="alert" ng-if="error">Sembra ci sia un errore nel tuo indirizzo e-mail o password. </div>

<div class="col-md-4"></div>

<div class="col-md-4">

<form id="frmLogin" role="form" ng-submit="signIn()">
    <img src="images_stagee/Stagee_logoridotto.png" style="width: 40%">
    <h2 class="evento">Stagee</h2>
    <h3 class="evento_organizzatore">Conquista la scena!</h3>

    <div class="form-group">
        <label for="txtEmail">Email address</label><!--se sbaglia password nn deve entrare-->

        <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" ng-model="user.email" />
    </div>
    <div class="form-group">
        <label for="txtPass">Password</label>
        <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" ng-model="user.password" />
    </div>
    <button type="login" class="btn btn-custom center-block" ng-click="signIn();">Login</button>
</form>
    <br>
    <button id="reset" class="btn btn-custom center-block" data-target="#ModalReset" data-toggle="modal">
        Ho dimenticato la password
    </button>

</div>



<div class="modal fade text-center" id="ModalReset">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Inserisci la mail fornita in fase di registrazione per resettare la tua password.</h4>
            </div>

            <div ng-controller="LoginCtrl as $ctrl">
                <form id="frmReset" role="form" ng-submit="resetPassword()" class="center-block">
                    <div class="modal-body" style="text-align: center">
                        <div class="form-group">
                            <label for="mailReset">Mail</label>
                            <input type="email" class="form-control" id="mailReset" name="mailReset"
                                   ng-model="user.mailReset" required="required"/>
                        </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-custom center-block">Invia</button>
                        <button type="button" class="btn btn-custom right-block" data-dismiss="modal">Annulla</button>
                        <div ng-show="isVisibleError">
                            <br>
                            <h4 style="text-align: center">Sembra che ci sia un errore, la mail inserita non è presente nel nostro database.
                            Riprova, altrimenti per registrare un nuovo account clicca</h4>
                            <a href="#!/registrazioneView" onclick="$('.modal').modal('hide')"><h4 style="text-align: center">qui.</h4></a>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confermaReset">
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div align="center" class="modal-content" class="col-xs-8">
            <div class="modal-header">
                <p class="modal-title">
                <h4 text-align="center">Mail di reset inviata! Controlla la tua casella di posta.</h4>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom right-block" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>