<div class="alert alert-danger alert-dismissible" role="alert" ng-if="error">Login failed! {{ error.message }}</div>

<link href="../lib/bootstrap/css/navbar-fixed-top.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Stagee</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/bachecaView"><span class="glyphicon glyphicon-home"></span></a></li>
                <li ><a href="#!/profiloView"><span class="glyphicon glyphicon-user"></span></a>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" onclick="event.preventDefault();" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-cog" ></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#" onclick="event.preventDefault();" data-target="#myModal" data-toggle="modal" >Filtri</a></li>
                        <li><a href="#">Logout</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li><a href="#!/chat" onclick="event.preventDefault();"><span class="glyphicon glyphicon-comment"></span></a></li></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>



<meta name="viewport" content="width=device-width, initial-scale=1">

<form id="frmProfilo" role="form" ng-submit="signIn()">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filtri</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body" id="pagina_filtri">
                    <div class="containerfiltri">
                        <div class="row">
                            <div class="col-sm-4"
                                 style="border-right: 1px; border-right-style: solid; border-right-color: silver">
                                <ul class="filtri">
                                    <li id="areageografica"><a href="#" onclick="event.preventDefault();"
                                                               ng-click="redirectToAreageografica()">Area geografica</a>
                                    </li>
                                    <li id="ambito"><a href="#" onclick="event.preventDefault();"
                                                       ng-click="redirectToAmbito()">Ambito</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-8">

                                <div id="filtri_areageografica" role="form" ng-if="isAreaGeografica();">
                                    <select id="regione" name="regione">
                                        <option value="" selected>Seleziona</option>
                                        <option value='abruzzo'>Abruzzo</option>
                                        <option value='basilicata'>Basilicata</option>
                                        <option value='calabria'>Calabria</option>
                                        <option value='campania'>Campania</option>
                                        <option value='emilia romagna'>Emilia Romagna</option>
                                        <option value='friuli venezia giulia'>Friuli-Venezia Giulia</option>
                                        <option value='lazio'>Lazio</option>
                                        <option value='liguria'>Liguria</option>
                                        <option value='lombardia'>Lombardia</option>
                                        <option value='marche'>Marche</option>
                                        <option value='molise'>Molise</option>
                                        <option value='piemonte'>Piemonte</option>
                                        <option value='puglia'>Puglia</option>
                                        <option value='sardegna'>Sardegna</option>
                                        <option value='sicilia'>Sicilia</option>
                                        <option value='toscana'>Toscana</option>
                                        <option value='trentino alto adige'>Trentino Alto Adige</option>
                                        <option value='umbria'>Umbria</option>
                                        <option value='valle d aosta'>Valle D'Aosta</option>
                                        <option value='veneto'>Veneto</option>
                                    </select>
                                    <select id="provincia" name="provincia">
                                        <option value="" selected>Seleziona</option>
                                        <option value="AG">Agrigento</option>
                                        <option value="AL">Alessandria</option>
                                        <option value="AN">Ancona</option>
                                        <option value="AO">Aosta</option>
                                        <option value="AR">Arezzo</option>
                                        <option value="AP">Ascoli Piceno</option>
                                        <option value="AT">Asti</option>
                                        <option value="AV">Avellino</option>
                                        <option value="BA">Bari</option>
                                        <option value="BL">Belluno</option>
                                        <option value="BN">Benevento</option>
                                        <option value="BG">Bergamo</option>
                                        <option value="BI">Biella</option>
                                        <option value="BO">Bologna</option>
                                        <option value="BZ">Bolzano</option>
                                        <option value="BS">Brescia</option>
                                        <option value="BR">Brindisi</option>
                                        <option value="CA">Cagliari</option>
                                        <option value="CL">Caltanissetta</option>
                                        <option value="CB">Campobasso</option>
                                        <option value="CE">Caserta</option>
                                        <option value="CT">Catania</option>
                                        <option value="CZ">Catanzaro</option>
                                        <option value="CH">Chieti</option>
                                        <option value="CO">Como</option>
                                        <option value="CS">Cosenza</option>
                                        <option value="CR">Cremona</option>
                                        <option value="KR">Crotone</option>
                                        <option value="CN">Cuneo</option>
                                        <option value="EN">Enna</option>
                                        <option value="FE">Ferrara</option>
                                        <option value="FI">Firenze</option>
                                        <option value="FG">Foggia</option>
                                        <option value="FO">Forl&igrave; - Cesena</option>
                                        <option value="FR">Frosinone</option>
                                        <option value="GE">Genova</option>
                                        <option value="GO">Gorizia</option>
                                        <option value="GR">Grosseto</option>
                                        <option value="IM">Imperia</option>
                                        <option value="IS">Isernia</option>
                                        <option value="SP">La Spezia</option>
                                        <option value="AQ">L'Aquila</option>
                                        <option value="LT">Latina</option>
                                        <option value="LE">Lecce</option>
                                        <option value="LC">Lecco</option>
                                        <option value="LI">Livorno</option>
                                        <option value="LO">Lodi</option>
                                        <option value="LU">Lucca</option>
                                        <option value="MC">Macerata</option>
                                        <option value="MN">Mantova</option>
                                        <option value="MS">Massa Carrara</option>
                                        <option value="MT">Matera</option>
                                        <option value="ME">Messina</option>
                                        <option value="MI">Milano</option>
                                        <option value="MO">Modena</option>
                                        <option value="NA">Napoli</option>
                                        <option value="NO">Novara</option>
                                        <option value="NU">Nuoro</option>
                                        <option value="OR">Oristano</option>
                                        <option value="PD">Padova</option>
                                        <option value="PA">Palermo</option>
                                        <option value="PR">Parma</option>
                                        <option value="PV">Pavia</option>
                                        <option value="PG">Perugia</option>
                                        <option value="PS">Pesaro</option>
                                        <option value="PE">Pescara</option>
                                        <option value="PC">Piacenza</option>
                                        <option value="PI">Pisa</option>
                                        <option value="PT">Pistoia</option>
                                        <option value="PN">Pordenone</option>
                                        <option value="PZ">Potenza</option>
                                        <option value="PO">Prato</option>
                                        <option value="RG">Ragusa</option>
                                        <option value="RA">Ravenna</option>
                                        <option value="RC">Reggio Calabria</option>
                                        <option value="RE">Reggio Emilia</option>
                                        <option value="RI">Rieti</option>
                                        <option value="RN">Rimini</option>
                                        <option value="RM">Roma</option>
                                        <option value="RO">Rovigo</option>
                                        <option value="SA">Salerno</option>
                                        <option value="SS">Sassari</option>
                                        <option value="SV">Savona</option>
                                        <option value="SI">Siena</option>
                                        <option value="SR">Siracusa</option>
                                        <option value="SO">Sondrio</option>
                                        <option value="TA">Taranto</option>
                                        <option value="TE">Teramo</option>
                                        <option value="TR">Terni</option>
                                        <option value="TO">Torino</option>
                                        <option value="TP">Trapani</option>
                                        <option value="TN">Trento</option>
                                        <option value="TV">Treviso</option>
                                        <option value="TS">Trieste</option>
                                        <option value="UD">Udine</option>
                                        <option value="VA">Varese</option>
                                        <option value="VE">Venezia</option>
                                        <option value="VB">Verbania-Cusio-Ossola</option>
                                        <option value="VC">Vercelli</option>
                                        <option value="VR">Verona</option>
                                        <option value="VV">Vibo Valentia</option>
                                        <option value="VI">Vicenza</option>
                                        <option value="VT">Viterbo</option>
                                    </select>
                                </div>
                                <div id="filtri_ambito" role="form" ng-if="isAmbito();">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Recitazione
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Canto
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Danza
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Trasformismo
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">illusionismo
                                    </label>


                                    <p></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <!-- qui c era secondary anzichè primary-->
                </div>
            </div>
        </div>
    </div>
</form>

<!--non dipende da html.. perchè?-->

<!--fabio-->
<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" >
    <ng-map center="45.065698, 7.670945" zoom="14" disable-default-u-i="true" >
        <marker ng-repeat="pos in dati.vm.positions" position="{{pos.address}}"
                optimized="false"
                icon="{
                url:'images_stagee/pin.png',
                scaledSize:[40,40],
                origin: [0,0],
                anchor: [50,50]
                      }"
                on-click ="map.showInfoWindow(event, 'bar')"
        >

            <info-window ng-controller="mapCtrl" id="bar" max-width="150">
                <div ng-non-bindable>
                    <div id="siteNotice"></div>

                    <h3 id="firstHeading" class="firstHeading" ng-repeat="tag in dati.vm.tags">
                        {{tag.tags}}
                    </h3>



                    <div id="bodyContent">
                        <p>
                            <b></b>Info
                        </p>
                        <p>
                            <a href="http://gph.is/28No1ow">
                                Link evento
                            </a>

                    </div>
                </div>
            </info-window>

        </marker>
    </ng-map>
</div>



<!-- parte eliminata dalla mappa per prove


<custom-marker ng-repeat="pos in dati.vm.positions" position="{{pos.address}}"
                           on-mouseover="mouseover()" on-mouseout="mouseout()"
                           on-click="click()">
                <div class="{{cm.class}}"><div> CIAONE {{cm.class}}</div> </div>
            </custom-marker>
 <marker ng-repeat="pos in dati.vm.positions" position="{{pos.address}}">

 </marker>
-->
